/*
Theme Name: Annual Meeting
Theme URI: http://www.simplethemes.com/wordpress-themes/theme/skeleton
Description: Skeleton Child Theme. Use this child theme to safely make modifications to the existing theme. Using a child theme ensures that you do not lose the modifications with theme updates.
Version: 2.0.1
Author: Simple Themes
Author URI: http://www.simplethemes.com
Template: smpl-skeleton
License: GPL
License URI: http://www.opensource.org/licenses/gpl-license.php
*/


/*
----------------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------------

This child theme enables you to make customizations while allowing for safe updates to the parent theme.
The parent theme's style.css is imported below. If you wish to make customizations, do one of the following:

A.) Copy the contents of skeleton/style.css into this file, but leave the (above) child theme head in tact!
B.) Add specific rules BELOW the import. This is intended for minimal customizations.

----------------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------------

*/

@import url("../smpl-skeleton/style.css");




/*---GLOBAL---*/

@font-face {
    font-family: 'oxygenbold';
    src: url('fonts/oxygen-bold-webfont.eot');
    src: url('fonts/oxygen-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/oxygen-bold-webfont.woff2') format('woff2'),
         url('fonts/oxygen-bold-webfont.woff') format('woff'),
         url('fonts/oxygen-bold-webfont.ttf') format('truetype'),
         url('fonts/oxygen-bold-webfont.svg#oxygenbold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'oxygenregular';
    src: url('fonts/oxygen-regular-webfont.eot');
    src: url('fonts/oxygen-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/oxygen-regular-webfont.woff2') format('woff2'),
         url('fonts/oxygen-regular-webfont.woff') format('woff'),
         url('fonts/oxygen-regular-webfont.ttf') format('truetype'),
         url('fonts/oxygen-regular-webfont.svg#oxygenregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

html{
  width:100%;
  padding:0;
  margin:0;
}

body {
  width:100%;
  padding:0;
  margin:0;
	font-family: 'oxygenregular', arial, sans-serif; 
  color:#444444;
  background: none;
}

img{
  margin-bottom:10px;
  max-width: 100%;
  height:auto;
}

.container{
  width:100%;
}

.columns {
  float: none;
}

.row:after{
  display: none;
}

.wrapper-960 {
  max-width: 960px;
  margin: 20px auto;
  padding: 0 2%;
  clear:both;
}

a:link, a:visited{
  color:#cc2512;
  text-decoration: none;

}
a:hover, a:hover:visited{
  color:#cc2512;
  text-decoration: underline;
}

a:link strong, a:visited strong{
  color:#cc2512;
  text-decoration: none;
}

a:hover strong, a:hover:visited strong{
  color:#cc2512;
  text-decoration: underline;
}


ul li{
  list-style-image: url("/wp-content/themes/annual-meeting/images/list-style.png");
}

ol li{
  list-style-image:none;
  list-style-type: decimal;
}

h1{
  color: #00a19c;
  font-size: 30px;
  font-family: 'oxygenbold', arial, sans-serif; color:#444444;
}

h1.entry-title{
  color: #00a19c;
}

h2{
  color: #00a19c;
  font-size: 24px;
  font-family: 'oxygenbold', arial, sans-serif; color:#444444;
}

.entry-content h2{
  color: #00a19c;
}

h3{
  font-size: 18px;
 /* font-family: 'oxygenbold', arial, sans-serif; color:#444444; */
	font-family: 'oxygenbold', arial, sans-serif; color:#444444; letter-spacing: 0.2px;
 /* text-transform: uppercase; */
}

h4{
  font-size: 16px;
 /* font-family: 'oxygenbold', arial, sans-serif; color:#444444; */
	font-family: arial, sans-serif; color:#444444; letter-spacing: 0.2px;
 /* text-transform: uppercase; */
}

a.button-style{
margin:10px;
line-height: 1.5em;
text-transform: uppercase;
font-size: 14px;
font-family: 'oxygenbold', arial, sans-serif; color:#444444;
text-align: center;
padding:10px;

 background: #b5121b;
    background: -moz-linear-gradient(top, #fd4f00 0%, #b5121b 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fd4f00), color-stop(100%,#b5121b));
    background: -webkit-linear-gradient(top, #fd4f00 0%,#b5121b 100%);
    background: -o-linear-gradient(top, #fd4f00 0%,#b5121b 100%);
    background: -ms-linear-gradient(top, #fd4f00 0%,#b5121b 100%);
    background: linear-gradient(to bottom, #fd4f00 0%, #b5121b 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fd4f00', endColorstr='#b5121b',GradientType=0 );

color:#FFF !important;
box-shadow:inset 0px 0px 0px 5px #ffffff, inset -1px -1px 0px 5px #7e0d13;
border:1px solid #e5e5e5;
display:block;
}

a.button-style:hover{
 text-decoration: none;
 background: #fd4f00;
    background: -moz-linear-gradient(top, #b5121b 0%, #fd4f00 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b5121b), color-stop(100%,#fd4f00));
    background: -webkit-linear-gradient(top, #b5121b 0%,#fd4f00 100%);
    background: -o-linear-gradient(top, #b5121b 0%,#fd4f00 100%);
    background: -ms-linear-gradient(top, #b5121b 0%,#fd4f00 100%);
    background: linear-gradient(to bottom, #b5121b 0%, #fd4f00 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b5121b', endColorstr='#fd4f00',GradientType=0 );
}

/*---SPONSOR STUFF---*/

.columnlayoutSponsor{
 -webkit-column-count: 3; /* Chrome, Safari, Opera */
 -moz-column-count: 3; /* Firefox */
 column-count: 3;
 -webkit-column-gap: 50px; /* Chrome, Safari, Opera */
 -moz-column-gap: 50px; /* Firefox */
 column-gap: 50px;
}


/*---REGISTER BAR---*/

  .page-id-35 #sidebar #text-5 a{
    display: none;
  }

  a.register-button{
    display: block;
    background: #00a09b;
    background: -moz-linear-gradient(top, #00a09b 0%, #00837f 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#00a09b), color-stop(100%,#00837f));
    background: -webkit-linear-gradient(top, #00a09b 0%,#00837f 100%);
    background: -o-linear-gradient(top, #00a09b 0%,#00837f 100%);
    background: -ms-linear-gradient(top, #00a09b 0%,#00837f 100%);
    background: linear-gradient(to bottom, #00a09b 0%, #00837f 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00a09b', endColorstr='#00837f',GradientType=0 );
    color: #ffffff;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    white-space: nowrap;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    padding: 5px 10px;
    width:200px;
  }

    a.register-button:hover,
    a.register-button:active{
      background: #00837f;
      background: -moz-linear-gradient(top, #00837f 0%, #00a09b 100%);
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#00837f), color-stop(100%,#00a09b));
      background: -webkit-linear-gradient(top, #00837f 0%,#00a09b 100%);
      background: -o-linear-gradient(top, #00837f 0%,#00a09b 100%);
      background: -ms-linear-gradient(top, #00837f 0%,#00a09b 100%);
      background: linear-gradient(to bottom, #00837f 0%,#00a09b 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00837f', endColorstr='#00a09b',GradientType=0 );
      color: #ffffff !important;
      text-decoration: none !important;
      width:200px;
    }

#wpfront-notification-bar h4 {
  color:#ffffff;
  margin-bottom:.24em;
}

#wpfront-notification-bar p {
  margin-bottom:0;
  font-size: 14px;
}

#wpfront-notification-bar td {
  padding: 10px 0;
}

#wpfront-notification-bar div:nth-of-type(2) {
  float: left;
  margin-right: 40px;
}

#wpfront-notification-bar a.wpfront-button {
  font-size: 15px;
  line-height: 1.2em;
  padding:10px 20px;
}

#notification-area.red a{
  color:#fff2a7 !important;
  text-decoration: underline;
  font-family: 'oxygenrbold', arial, sans-serif;
}

#notification-area.red a:hover{
  color:#fff2a7 !important;
  text-decoration: none;
  font-family: 'oxygenrbold', arial, sans-serif;
}

#notification-area.red a.remove-notice{
  color:#ffffff !important;
  text-decoration: none;
  margin:0;
  padding:0;
}

#notification-area.red a.remove-notice:hover{
  color:#ffffff !important;
  text-decoration: none;
  margin:0;
  padding:0;
}


/*---HEADER---*/
#header {
  display: block;
  margin: 16px auto 0;
}

  h1#site-title {
  	float:left; 
  	display:inline;
  }

  li#search-4 {
  	list-style:none;
  }

  #header .inner {
    max-width: 960px;
    margin:0 auto;
    overflow: hidden;
    padding: 0;
  }

    #header .site-desc {
      margin-top:40px;
      text-align: center;
      font-size: 1.8em;
      font-weight: bold;
    }

#searchform input#s {
  height: 35px;
}

#searchform #searchsubmit {
  background-image: url('images/button-search.jpg');
  width: 36px;
  height: 36px; 
  color: transparent !important;
  text-shadow: none;
}

#searchform #searchsubmit:hover,
#searchform #searchsubmit:active {
  background-image: url('images/button-search.jpg');
  background-position: 36px 0px;
}

/*---MAIN NAVIGATION---*/
#nav-wrapper {
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
}

  #navigation {
    display: block;
    margin: 0 auto;
  }

    #navigation ul {
    	border:none; 
    	background:none; 
    	border-radius:0; 
    	box-shadow:none; 
    	font-family: 'oxygenbold', arial, sans-serif;
    	text-align: center;
    }

    #navigation ul li {
    	border:none; 
    	background:#ffffff;
    	float: none;
    	display: inline-block;
    }

    #navigation ul li:hover {
      background:#ffffff;
    }


    #navigation ul li a {
    	border:none; 
    	color:#595959;
    }

    #navigation ul li a:hover { 
    	background:none;
    	color:#cc2512;
    }

    #navigation ul li:hover a, 
    #navigation ul li a:hover {
      border-bottom: none;
    }

    #navigation ul li.active a {
      border-bottom: none;
    }

#navigation ul li:hover a, #navigation ul li a:hover{
  background:#ffffff;
}

/*---SUBMENU---*/

#navigation ul.sub-menu{
  text-align: left;
  border-radius:0;
  -webkit-border-radius:0;
}

#navigation ul.sub-menu li a{
  color:#ffffff !important;
  background:#006d7f;
  text-shadow:none;
}

#navigation ul.sub-menu li a:hover{
  color:#ffffff !important;
  background:#004d5a;
}

/*---NOTIFICATION AREA---*/

#notification-wrapper {
  background-color: #e31b23;
}

  #notification-area {
    position: relative;
    z-index: 0;
    clear: both;
    max-width: 960px;
    border: none;
    margin: 0 auto;
    padding: 10px 5% 10px;
    text-align: center;
  }

  #notification-area.red {
    background-color: #e31b23;
  }

  .admin-bar #notification-area {
    top: 0;
  }

    #notification-area a#remove-notice {
      text-decoration: none;
      border: none;
      font-size: 1.2em;
      font-weight: 900;
      color: #fff;
    }

    #notification-area h3,
    #notification-area p,
    #notification-area.red h3,
    #notification-area.red p {
      max-width: 800px;
      margin: 0 auto;
      color: #fff;
    }

/*---FEATURE AREA---*/

#feature-area {
  text-align: center;
  margin:0 auto;
  clear:both;
}

.ms-slide-info.ms-dir-h{
  width:90% !important;
  max-width: 760px;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.8);
  padding:5%;
}

.ms-slide-info{
  margin-left:auto;
  margin-right:auto;
  margin-bottom:40px;
  left:0;
  right:0;
}

.ms-slide-info h1{
  font-family: 'oxygenregular', arial, sans-serif !important;
  margin-bottom:.25em;
}

.more-button{
  width:140px;
  height:40px;
  margin:1em auto;
  background-image: url('images/button-more-bg.jpg');
  background-position: 0 0;
  background-repeat:no-repeat;
}

.more-button:hover{
  width:140px;
  height:40px;
  margin:1em auto;
  background-image: url('images/button-more-bg.jpg');
  background-position:-140px 0;
  background-repeat:no-repeat;
}

.more-button a{
  color:#ffffff;
  line-height: 2.5em;
  font-family: 'oxygenbold', arial, sans-serif !important;
  text-decoration: none;
}

.more-button a:hover{
  color:#ffffff;
  line-height: 2.5em;
  font-family: 'oxygenbold', arial, sans-serif !important;
  text-decoration: none;
}


/*---CALL TO ACTION---*/

.call-to-action {
  max-width:960px; 
  margin: 40px auto;
}

.call-to-action img{
  padding:4%;
  width:92%;
  border:1px solid #e5e5e5;
}

.single-call-to-action {
  width: 28%; 
  display: inline-block; 
  vertical-align: top;
  padding: 0 2%;
} 

.single-call-to-action a:last-of-type {
  display: block;
  color: transparent;
  background-image: url('images/button-call-to-action.jpg');
  width: 184px;
  height: 52px;
  bottom: 0px;
  margin: 1em auto 0;
}

.single-call-to-action a:last-of-type:hover,
.single-call-to-action a:last-of-type:active {
  background-image: url('images/button-call-to-action.jpg');
  background-position: 184px 0;
}

a[rel="wp-video-lightbox"]{
  width: 100%;
  height: auto;
  background:none !important;
  margin:0 !important;
}

.single-call-to-action .wpvl_auto_thumb_box_wrapper {
  width: 100%;
}
  
  .single-call-to-action .wpvl_auto_thumb_box {
    width: auto;
    height: auto;
  }

  .single-call-to-action .wpvl_auto_thumb_box_wrapper img {
    height: 157px;
  }

  .wpvl_auto_thumb_play {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  .single-call-to-action .wpvl_auto_thumb_box img.wpvl_playbutton {
    border:none !important;
    height: auto;
  }

/*---EVENTS---*/

#event-slider {
  width:100%;
  background:#33807d;
  background-image: url('images/events-bg.jpg')!important;
  background-position: center !important; 
  background-repeat: no-repeat !important;
  clear: both;
}

#advps_container3 .bx-viewport {
  background:none!important;
  max-width: 960px;
  margin:0 auto;
  height:270px !important;
}

#event-slider .advps-slide h2, 
#event-slider .advps-slide p {
  text-align: center;
}

#event-slider .advps-slide-field-three {
  float: none !important;
}

#event-slider .advps-excerpt-three {
  float: none !important;
}

.bx-controls-direction{
  max-width: 960px;
  margin:0 auto;
  position:relative;
  top: -150px;
}

.bx-prev{
  width:46px !important;
  height:78px !important;
  background-image: url('images/events-arrow-left.png')!important;
  background-position: center !important; 
  background-repeat: no-repeat !important;
  background-size: 100% !important;
}

.bx-next{
  width:46px !important;
  height:78px !important;
  background-image: url('images/events-arrow-right.png')!important;
  background-position: center !important; 
  background-repeat: no-repeat !important;
  background-size: 100% !important;
}


/*---TRACKS---*/

#tracks-wrapper {
  background: #f5f5f5;
}

#tracks-header {
  max-width: 960px;
  margin: 40px auto;
  padding: 0 2%; 
}

#tracks-header h1{
  margin-bottom:5px;
}

#tracks {
  padding:20px 0;
  text-align: left;
  max-width:960px; 
  margin:0 auto;
}

.single-track {
  vertical-align: top;
  width: 22%; 
  display: inline-block;
  padding: 0 1%; 
}

.single-track img {
  margin:10px 0;
}


/*---TWITTER---*/

#twitter-feed {
  clear: both;
}

  #twitter-feed .aptf-tweet-media {
    display: none;
  }

  #twitter-feed .aptf-single-tweet-wrapper:last-of-type {
    display: none;
  }

  #twitter-feed .bx-wrapper {
    background-image: url('images/twitter-pattern.jpg');
    background-repeat: repeat;
    position: relative;
    padding:20px 0;
  }

  #twitter-feed .bx-viewport {
    position: absolute;
    max-width: 640px;
    min-height: 280px;
    top:20px;
    margin: 0px auto !important; 
  }

  .aptf-single-tweet-wrapper {
    position:relative !important;
  }


  #twitter-feed .aptf-tweet-content {
    text-align: center;
    color: #FFF;
    font-size: 1.2em;
    background-image: url('images/twitter-icon.png');
    background-repeat: no-repeat;
    background-position: top center;
    padding-top: 80px;
    position:initial !important;
  }

.aptf-template-1 .aptf-tweet-content:after, .aptf-template-1 .aptf-tweet-content:before {
    display: none !important;
  }

 #twitter-feed  .aptf-template-1 .aptf-tweet-content{
    background-color: transparent;
    border:none;
 }

.aptf-tweet-actions-wrapper.aptf-tweet-actions{
  display:block;
  background:transparent;
  bottom:0 !important;
  top:inherit;
  right:0;
}


  #twitter-feed .aptf-tweet-content a {
    color: #fff !important;
  }


 .aptf-tweet-actions-wrapper.aptf-tweet-actions a{
  color:#ffffff;
 }

a.aptf-tweet-name{
  color:#ffffff;
 }

.aptf-template-1 .aptf-tweet-name img{
  vertical-align: bottom;
  border-radius:10%;
  margin-bottom:0 !important;
 }


a:hover.aptf-tweet-name{
    text-decoration: underline;
 }

 p.aptf-timestamp a{
    color:#ffffff;
   }

 p.aptf-timestamp a:hover{
    text-decoration: underline !important;
 }

/*---INTERIOR PAGE and SIDEBAR---*/

#content {
  margin-top: 10px;
}

#sidebar {
  margin-top: 66px;
}

#sidebar .widget-container {
  clear: both;
}
  #sidebar .rpwe_widget li h3 a {
      color: #444;
      font-size: 1.1em;
      text-transform: uppercase;
    }

  #sidebar .rpwe_widget #more-event-link {
    display: block;
    background: #fb5b15;
    background: -moz-linear-gradient(top, #fb5b15 0%, #bb1719 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fb5b15), color-stop(100%,#bb1719));
    background: -webkit-linear-gradient(top, #fb5b15 0%,#bb1719 100%);
    background: -o-linear-gradient(top, #fb5b15 0%,#bb1719 100%);
    background: -ms-linear-gradient(top, #fb5b15 0%,#bb1719 100%);
    background: linear-gradient(to bottom, #fb5b15 0%, #bb1719 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fb5b15', endColorstr='#bb1719',GradientType=0 );
    color: #ffffff;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    white-space: nowrap;
    font-size: 13px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    padding: 7px 15px;
    line-height: 1em;
  }

  #sidebar .rpwe_widget #more-event-link:hover,
  #sidebar .rpwe_widget #more-event-link:active {
    background: #bb1719;
    background: -moz-linear-gradient(top, #bb1719 0%, #fb5b15 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#bb1719), color-stop(100%,#fb5b15));
    background: -webkit-linear-gradient(top, #bb1719 0%,#fb5b15 100%);
    background: -o-linear-gradient(top, #bb1719 0%,#fb5b15 100%);
    background: -ms-linear-gradient(top, #bb1719 0%,#fb5b15 100%);
    background: linear-gradient(to bottom, #bb1719 0%,#fb5b15 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bb1719', endColorstr='#fb5b15',GradientType=0 );
  }

  #sidebar #text-5 h3,
  #sidebar #text-6 h3 {
    display: none;
  }

  #sidebar #text-5 a {
    display: block;
    background: #00a09b;
    background: -moz-linear-gradient(top, #00a09b 0%, #00837f 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#00a09b), color-stop(100%,#00837f));
    background: -webkit-linear-gradient(top, #00a09b 0%,#00837f 100%);
    background: -o-linear-gradient(top, #00a09b 0%,#00837f 100%);
    background: -ms-linear-gradient(top, #00a09b 0%,#00837f 100%);
    background: linear-gradient(to bottom, #00a09b 0%, #00837f 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00a09b', endColorstr='#00837f',GradientType=0 );
    color: #ffffff;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    white-space: nowrap;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    padding: 5px 10px;
  }

    #sidebar #text-5 a:hover,
    #sidebar #text-5 a:active {
      background: #00837f;
      background: -moz-linear-gradient(top, #00837f 0%, #00a09b 100%);
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#00837f), color-stop(100%,#00a09b));
      background: -webkit-linear-gradient(top, #00837f 0%,#00a09b 100%);
      background: -o-linear-gradient(top, #00837f 0%,#00a09b 100%);
      background: -ms-linear-gradient(top, #00837f 0%,#00a09b 100%);
      background: linear-gradient(to bottom, #00837f 0%,#00a09b 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00837f', endColorstr='#00a09b',GradientType=0 );
    }

  #sidebar #text-6 .textwidget {
    background-color: #f2f6f7;
    padding: 1em;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border: 1px solid #e9e9e9;
  }

#more-event-link {
  float: right;
}

div#rpwe_widget-2 li{
  list-style: none;
}

#sidebar .rpwe_widget li h3 a{
  color:#cc2512 !important;
}

#sidebar .rpwe_widget li h3 a:hover{
  color:#cc2512 !important;
}



/*---PROGRAM FILTER---*/

div#post-13{
  border-bottom:1px solid #e5e5e5 !important;
  margin-bottom:40px !important;
}

#programs-filter {
  overflow: hidden;
  clear: both;
  margin-bottom:20px;
  border-bottom:1px solid #e5e5e5;
  padding-bottom:20px;
}

#programs-filter label {
  display: inline;
}

  #search-filter {
    width: 30.66%;
    margin-right: 4%;
    margin-bottom: 20px;
    float: left;
  }

  #search-result-container {
    width: 65.33%;
    margin-right: 0;
    margin-bottom: 20px;
    float: left;
  }

#search-box {
  background-color: #f2f6f7;
  padding: 1em;
  border: 1px solid #e8e8e8;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
}

  #search-box input {
    width: 100%;
    height: 40px;
  }

.search-checkbox {
 margin: 1.3em 0 0 0;
}

  #search-checkbox .search-label {
    cursor: pointer;
    float: none;
    margin: 0 0 10px 0;
    padding: 0 0 5px 5px;
    border-bottom: 1px solid #E8E8E8;
    text-transform: uppercase;
    font-size: 14px;
    color:#00a19c !important;
  }

#programs-filter .result-items {
 padding: 1em;
}

  #programs-filter .result-items:nth-child(even) {
    background-color: #f2f6f7;
  }

  .result-startDay,
  .result-sTime,
  .result-room {
    display: inline;
    margin-right: 1em;
  }

#search-button input[type="submit"]{
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0%, #fd4f00), color-stop(100%, #b5121b)) !important;
  text-shadow:none !important;
}

.result-more{
  font-size: 14px;
  text-decoration: underline;
  color: #cc2512;
}

.result-expand{
  font-size: 14px;
  line-height: 1.5em;
}

.result-startDate result-details {
   display: none !important;
}



/*---FOOTER---*/
#footer-logo .one_fourth {
  margin-top: 22px;
  width: 22% !important;
}

  #footer-logo .one_fourth img {
    margin-bottom: 0;
  }

#footer-wrapper {
  background-color: #004d5a;
  color: #fff;
  overflow: hidden;
}

  #footermenu {
    border-bottom: 1px solid #32707a;
    margin: 10px auto 20px auto;
  }

    #menu-main-menu-1 {
      max-width: 960px;
    }

    #menu-main-menu-1 li {
      margin: 0 2em;
    }

      #menu-main-menu-1 li a {
        color: #fff;
        font-size: 1.1em;
      }

      #menu-main-menu-1 li a:hover {
        color: #00a19c;
      }

  #footer-site-logo {
    float: right;
    margin-top: -60px;
  }

    #footer-site-logo img {
      border-radius: 10px;
    }

  #footer-text {
    margin-top: 80px;
    font-size: 0.8em;
    color: #92a9ae;
  }

  #footer-text a{
    color: #92a9ae;
    text-decoration: underline;
  }

  #footer-text a:hover{
    text-decoration: none;
  }
  
.clear{
	clear:both;
}


/*---BREAKPOINTS---*/

/*---960---*/

@media only screen and (max-width: 960px) {



/*---FEATURE AREA---*/

#feature-area {
  text-align: center;
  margin:0 auto;
  clear:both;
}

.ms-slide-info.ms-dir-h{
  border-radius: 0px;
  padding:10px;
}

.ms-slide-info{
  margin-bottom:0px !important;
}

.ms-slide-info h1{
  margin-bottom:.25em;
}

.single-track {
  width: 28%; 
}

}

/*---768---*/

@media only screen and (max-width: 768px) {

  #header {
    margin: 16px 0 0;
    width: 100%;
  }

  #header .site-desc {
    margin-top:10px;
    text-align:center;
    font-size: 1.8em !important;
  }

  #wprmenu_menu ul li a, 
  #wprmenu_menu ul li a:hover {
    padding-left: 30px;
  }

  .advps-excerpt-one {
    bottom: 0px !important;
    max-width: 100%;
  }

   .advps-excerpt-block-one {
    padding: 2% 2% 0 2%;
  }

  a.feature-panel-button{
    width:80px;
    height:26px;
  }

  .advps-overlay-one {
    border-radius: 0;
  }

  .bx-prev,
  .bx-next {
    width: 48px !important;
    height: 80px !important;
    background-size: 80% !important;
  }

  .single-track {
    width: 28%; 
  }

  .single-call-to-action .wpvl_auto_thumb_box_wrapper img {
    height: 123px;
  }

/*---INTERIOR PAGE and SIDEBAR---*/

  #content {
    width: auto;
  }

  #sidebar {
    width: auto;
    margin-top: 0;
  }

    body.sidebar-right #wrap #sidebar .widget-container {
      margin-left: 0px;
    }

    #sidebar #text-5 {
      width: 200px;
      margin: 0 auto 28px !important;
    }

    #sidebar #text-6 {
      width: 80%;
      margin: 0 auto 28px !important;
    }


/*---PROGRAM FILTER---*/

  #search-filter {
    width: 100%;
    margin-right: 0;
  }

  #search-result-container {
    width: 100%;
  }

  .search-checkbox {
    background: #ffffff !important;
    margin: 1em 0 0 0;
    padding: 10px 20px;
    border: 1px solid #e5e5e5 !important;
  }

    .search-filter-container {
      margin-top: 12px;
    }

  #search-checkbox .search-label {
    cursor: pointer;
    display: block;
    text-align: center;
    margin: 0;
    padding: 0;
    border-bottom: none;
  }

  #search-button {
    margin:10px;
    clear: both;
  }

  #menu-main-menu-1 li {
    margin: 0 1.5em;
}

/*---480---*/

@media only screen and (max-width: 480px) {

  #wpfront-notification-bar-spacer {
    display: none !important;
  }

  #header .site-desc {
    margin: 0 auto 10px;
    clear: both;
    text-align: center;
    font-size: 18px !important;
  }

  h1#site-title{
    text-align: center;
    float: none !important;
    display: block !important;
  }

  .ms-slide-info.ms-dir-h{
    display:none;
  }

  .advps-excerpt-block-one {
    display: none;
  }

#tracks {
  text-align: center;
}

  .single-call-to-action {
    text-align: center;
    width: 96%; 
    display: block;
    margin-bottom: 1em;
  }

    .single-call-to-action .wpvl_auto_thumb_box_wrapper img {
      height: 260px;
    }

  .bx-prev,
  .bx-next {
    width: 24px !important;
    height: 40px !important;
    background-size: 80% !important;
  }

  .single-track {
    width:100%; 
    display: block;
    min-height: 400px;
  }


  #twitter-feed .aptf-single-tweet-slide {
    max-width: 380px;
    padding: 0 42px;
  }

  #twitter-feed .bx-controls-direction {
      top: -125px;
    }

/*---INTERIOR PAGE and SIDEBAR---*/
  #sidebar #text-6 {
    width: auto;
  }

/*---PROGRAM FILTER---*/
  .search-checkbox {
    float: none;
    width: 86%;
    margin: 1em 0 0 0;
  }
    .search-checkbox:first-child,
    .search-checkbox:last-child {
      width: 86%;
      margin: 1em 0 0 0;
    }

  #footer-logo {
    margin: 15px 0;
  }

    #footer-logo .one_fourth {
      margin: 10px 1%;
      width: 48% !important;
    }

  #menu-main-menu-1 li {
    margin: 0 -0.4em;
}

#search-button{
  text-align: center;
  margin-top:20px;
}

.search-checkbox{
  background: #ffffff !important;
  border: 1px solid #e5e5e5 !important;
}


@media only screen and (max-width: 415px)  { 

  #wrap{
    width:100%;
  }

}



